.translate-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.translate-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 1000ms ease-out;
}
.translate-enter-done {
    opacity: 1;
    transform: translateX(0);
    transition: all 1000ms ease-out;
}

.translate-exit {
    opacity: 1;
    transform: translateX(0);
}

.translate-exit-active {
    opacity: 0.01;
    transform: translateX(-100%);
    transition: all 1000ms ease-out;
}
.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}
.alert-enter-active {
    opacity: 1;
    transform: scale(1) translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}