

.translate-enter-active {
    animation-name: glissement;
    animation-duration: 2s;
}

.translate-exit-active {
    animation-name: glissement-reverse;
    animation-duration: 2s;
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}
.alert-enter-active {
    opacity: 1;
    transform: scale(1) translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.slide {
    animation-duration: 2s;
    animation-name: glissement-reverse;
  }
  @keyframes glissement-reverse {
    0% {
        margin-left: 0%;
    }
    50% {
        margin-left: -50%;
    }
    100% {
      margin-left: -100%;
    }
  
  }
  @keyframes glissement {
    0% {
        margin-left: -100%;
    }
    50% {
        margin-left: -50%;
    }
    100% {
      margin-left: 0%;
    }
  
  }