@import './common.scss';
#header-container {
    border-bottom: 4px solid black;
    display: flex;
    height: 20%;
    
    .logo {
        @media screen and
        (min-device-width:768px) and
        (max-device-width:1024px) and
        (orientation: 'portrait') {
            width:35%
        }
    }
    #search-component {
        .nav-button.is-active i {
            background-color: transparent !important;
            background-image: none;
        }
        
        .nav-button.is-active i:before, .nav-button.is-active i:after,
        .nav-button i:before,.nav-button i,.nav-button i:after {
            @include shading($dark-violet, $light-violet);
        }
        input{
            opacity:0.25;
            margin-top: auto;
        }
        img {
            margin-left: auto;
        }
    }
    p{
        margin: 0;
    }
    .date {
        position: relative;
    }
    .date {
        div {
            p:first-letter {
               text-transform: capitalize 
            }
        }
        p:first-child{
            color: white;
            font-size: $f20;
            font-family: 'Plight';
        }
    } 
    .command-number {
        @media screen and
        (min-device-width:768px) and
        (max-device-width:1024px) and
        (orientation: 'portrait') {
            order: 3;
            width: 100%;
            div {
                text-align: center;
                p {
                    display: inline;
                }
                p:first-child {
                    margin-left: auto;
                }
                p:last-child:before {
                    content: '\00a0';
                    margin-right: auto
                }
            }
        }

        p {
            margin: auto 0;
        }
    }
    .hour {
        @media screen and 
        (min-width:768px) and
        (max-width:1024px) and
        (orientation: 'portrait') {
            div {
                margin-top: 0.6rem;
                margin-bottom: 0;
            }
            p {
                margin-bottom: auto;
            }
        }
    }
}