@import './common.scss';

#error-container {
    width: 55%;
    height: 60%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;

}