@import './common.scss';
#user-list-container {
    border-right: 3px solid black;
    max-width: 15%;
    flex-grow: 1;
    .new-command-button {
        display: flex;
        flex-direction: column;
        height: 11.5%;
        text-align: initial;
        background-color: $violet;
        border-bottom: 3px solid black;

        p {
            margin: auto 0;
            font-size: $f20;
        }
    }
    .order-register {
        padding: 1rem 1.5rem;
        line-height: 1;
        display: flex;
        flex-direction: column;
        height: 11.5%;
        text-align: initial;
        background-color: $white;

        p {
            margin: auto 0;
            font-size: $f20;
            color: $green;
        }
    }
    .users-list {
        flex: 1 1 0%;
        display: flex;
        flex-direction: column;
    }
    .users-list-item:nth-child(odd) {
        background-color: $dark-grey;
        height: 10%;
    }
    .users-list-item:nth-child(even) {
        background-color: $light-grey;
        height: 10%;
    }

    
}