@import './common.scss';
#order-detail {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;

    .ticket-list {
        height: 46%;
        padding: 2rem;
    }
    .ticket-list > div > img {
        width: max-content;
        margin: 0 auto;
    }
    .detail-customer-info, .place-to-delete {
        border-top: 2px solid black;
    }
    .place-to-delete {
        padding: 0 1rem;
    }
    .ticket-number {
        border: 2px solid black;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        p{
            margin: auto;
        }
    }
    .print-button {
        height: 12%;
        padding: 0;
        font-size: 2.5rem;
        color: white;
        font-family: 'Plight';
        @include shading($dark-violet, $light-violet);      
    }
    .status-panel {
        height:  11.5%;
        button{
            font-family: 'Plight';
        }
    }
    .payment-resume  {
        background-color: $dark-green
    }
    .registration-resume {
        background-color: $dark-blue
    }
    .payment-list {
        height: 30%;
    }
    .payment-button {
        font-size: 2rem;
        border-right: 2px solid black;
        background-color: $dark-green;
    }
    .register-button {
        font-size: 2rem;
        background-color: $dark-blue;
    }
    .delete-button {
        border-left: 2px solid black;
        font-size: 2rem;
    }
    .border-panel {
        border-bottom: 2px solid black;
    }
    .cash-button {
        background-color: $yellow-strong;
    }
    .cheque-button {
        background-color: $yellow-standard;
    }
    .cb-button{
        background-color: $yellow-light;
    }
    .pass-voucher-button{
        background-color: $dark-blue;
    }
    .holiday-cheque{
        background-color: $mix-blue;
    } 
    .turist-office-button {
        background-color: $light-blue;
    }
    .total-section {
        color: white;
        font-size: 1.7;
        font-family: 'Plight';
        div { 
            p:first-child {
                margin: auto 0;
            }
            p:last-child {
                margin: auto;
            }
        }
    }
    .registration-info {
        height: 30%;
        background-color: $dark-green;
        div:first-child {
            border-right: 2px solid black;
        }
        label {
            margin: auto auto 0 auto;
            font-family: 'Plight';
            color: white;
        }
        input {
            margin: 1rem auto auto auto;
        }
    }
    .ticket-deleted:nth-child(odd) {
        background-color: $dark-green;
        height: 50%;
    }
    .ticket-deleted:nth-child(even) {
        background-color: $dark-blue;
        height: 50%;
    }
}