@import 'common.scss';

.ride-constructor-container {
    flex: 1 1 0%;

    .gridc-2 {
        grid-column: auto/span 2;
    }
    .gridc-1 {
        grid-column: auto/span 1;
    }
    .departure-selection,.come-back-selection {
        height: 23%;
    }
    .customer-selection {
        height: 30%;
    }
    .btn--customer {
        p:first-child {
            font-size: 2.2rem;
        }
    }
    .place-selection {
        height: 12%;
        display: grid;
        grid-template-columns: repeat(8,1fr);
        button {
            background-color: $orange;
            font-size: 2rem;
            font-weight: bold;
            border-right: 2px solid black;
        }
        button:last-child {
            border: none;
        }
    }
    .add-ticket-button {
        height: 12%;
        padding: 0;
        font-size: 2.5rem;
        color: white;
        font-family: 'Plight';
        @include shading($dark-violet, $light-violet);
    }
    .departure-selection, .departure-selection button {
        @include shading($dark-blue, $light-blue);
    }
    .come-back-selection , .come-back-selection button {
        @include shading($dark-green, $light-green);

    }
    
    .departure-station, .come-back-station {
        @media screen and 
        (min-device-width: 768px) and
        (max-device-width: 1024px) and
        (orientation: 'portrait') {
            padding: 0;
        }
        img {
            width: max-content;
            margin: auto auto 0 auto;
        }
        p {
            font-size: 2rem;
        }
        p:last-child {
            margin: 0 auto auto auto;
            color: $white;
            text-transform: uppercase;
        } 
    }
    .train-selection {
        flex: 1 1;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        @media screen and 
        (min-device-width:768px) and
        (max-device-width:1024px) and
        (orientation: 'portrait') {
            grid-template-columns: repeat(4,1fr);
        }
        button {
            padding:0
        }
    }
    .customer-selection {
        button {
            img {
                margin: auto 1rem auto auto;
                height: 100%;
            }
            div {
                margin: auto auto auto 0
            }
        }
        @media screen and 
        (min-device-width: 768px) and
        (max-device-width: 1024px) and
        (orientation: 'portrait') {
            margin: 0;
            button {
                display: flex;
                flex-direction: column;
                img {
                    height: auto;
                    width: 60px;
                    margin: 0 auto;
                }
                div {
                    margin: auto auto 0 auto;
                }
            }
        }
        @media screen and 
            (min-device-width: 768px) and
            (max-device-width: 1024px) and
            (orientation: 'landscape') {
                margin: 0;
            }
    }
}