@import './common.scss';
#ticket-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    .ticket-register {
        padding: 2rem 1.5rem;
        height: 11.5%;
        line-height: 1;
        display: flex;
        flex-direction: column;
        text-align: initial;
        background-color: $white;
    
        p {
            margin: auto 0;
            color: $green;
        }
    }
    .list-items {
        flex: 1 1 auto;
        overflow-y: auto;
        height: 5px;
    }
    .item:after {
        border-bottom: 2px dashed black;
        width: 50%;
        left: 0;
        top: 100%;
        position: absolute;
        content: '';
    }
    .item-deleted:after {
        border-bottom: 2px solid black;
        width: 100%;
        left: 0;
        top: 100%;
        position: absolute;
        content: '';
    }
    .item {
        height: 20%;
        display: flex;
        padding: 1rem 0;
        position: relative;
    }
    .item div {
        margin: auto auto auto 0.3rem;
    }
    .item p {
        font-size: 0.6em;
        margin: 0;
    }
    button {
        height: 12%;
        padding: 0;
        font-size: 2.5rem;
        color: white;
        font-family: 'Plight';
        @include shading($dark-green, $light-green);
    }
    .item-deleted {
        cursor: pointer;
        height: 20%;
        display: flex;
        padding: 1rem 0;
        position: relative;
        div {
            margin: auto;
        }
        p {
            font-size: 0.6em;
            margin:0;
            text-align: center;
        }
    }
}