@import './common.scss';
#ticket-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    .ticket-register {
        padding: 2rem 1.5rem;
        line-height: 1;
        display: flex;
        flex-direction: column;
        text-align: initial;
        background-color: $white;
    
        p {
            margin: auto 0;
            color: $green;
        }
    }
    .list-items {
        flex: 1 1 auto;
        overflow-y: auto;
        height: 5px;
    }
    .item:first-child {
        border: none;
    }
    .item {
        height: 20%;
        display: flex;
        padding: 1rem 0;
        border-top: 2px dashed black;
    }
    .item div {
        margin: auto auto auto 0.3rem;
    }
    .item p {
        font-size: 0.6em;
        margin: 0;
    }
    button {
        height: 12%;
    }
}